@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  max-width: 916px;
  background-color: var(--background);
  margin: auto;
  padding: 2rem 0;
}

.container-content {
  width: 90%;
  background-color: #ffffff;
  padding: 2rem 2.7rem 2.7rem 2.7rem;
  margin: auto;
  margin-bottom: 1.6rem;
}

.container-content-first {
  margin-bottom: 3.7rem;
}

.container-content-second {
  padding-left: 4.7rem;
}

.container-content-third {
  padding-left: 4.7rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--title);
  margin-bottom: 1rem;
}

.sub-title {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text);
  margin-bottom: 1.4rem;
}

.banner {
  width: 100%;
  margin-bottom: 1rem;
}

.banner-image {
  width: 100%;
}

.info-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8.5rem;
  width: 11.8rem;
  background-color: var(--background);
  border-radius: 5px;
}
.info-box-modified {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 23.8rem;
  height: 8.5rem;
  background-color: var(--background);
  border-radius: 5px;
}

.info-box img {
  margin-bottom: 8px;
}

.description {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text);
  text-transform: uppercase;
}

.box-description {
  display: flex;
  flex-direction: column;
}

.description-modified {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text);
}

.name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--title);
}

.info-box strong {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--title);
  text-transform: uppercase;
}

.logo-title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.2rem;
}

.logo-title {
  text-transform: uppercase;
  margin: 0;
}

.logo-title-box img {
  margin-right: 8px;
}

.list {
  display: flex;
  flex-direction: column;
}

.item-list {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text);
  margin-bottom: 1rem;
}

.box-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.4rem;
  background-color: var(--background);
  margin-bottom: 1.6rem;
}

.info-title {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.info-text {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text);
}
